<div class="row">
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header> {{user?.firstname}} {{user?.lastname}} </nb-card-header>
            <nb-card-body>
                <form [formGroup]="profileForm">
                    <div class="form-group row justify-content-center">
                        <div class="col-sm-4 avatar">
                            <div class="content" [ngStyle]="{'background-image':  'url(' + 'picture' + ')'}">
                            </div>
                            <div class="select-file">
                                <div style="position: relative; height: 100%;">
                                    <nb-icon icon="edit-outline" style="color: white;">arrow-back-outline</nb-icon>
                                    <input type="file" class="file-input" accept="image/*">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="label">First Name</label>
                        <input nbInput type="text" placeholder="First Name" fullWidth formControlName="first_name">
                        <div>
                            <span class="error-text">required</span>
                        </div>
                    </div>




                    <input nbInput type="submit" value="Update" style="float: right;">
                </form>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-6">
        <nb-card>
            <nb-card-header>Change Password</nb-card-header>
            <nb-card-body>
                <form [formGroup]="passwordForm">

                    <div class="form-group">
                        <label class="label">Change Password</label>
                        <input [nbPopover]="card" nbPopoverPlacement="bottom" nbInput type="password" fullWidth
                            formControlName="pwd">
                        <div>
                            <span class="error-text">required</span>
                        </div>
                        <ng-template #card>
                            <button nbButton ghost style="min-width:300px; text-transform: none;">
                                <span style="margin-right: auto;">ds</span> <span>Suggested</span>
                                <input type="text" style="opacity: 0; position: absolute;" value="Suggested"
                                    #input_copy>
                            </button>
                        </ng-template>

                        <ng-template #templateRef>
                        </ng-template>
                    </div>

                    <div class="form-group">
                        <label class="label">Confirm Password</label>
                        <input nbInput type="password" fullWidth formControlName="confirm_pwd">
                        <div>
                            <span class="error-text">Passwords
                                doesn't match</span>
                        </div>
                    </div>
                    <input nbInput type="submit" value="Change Password" style="float: right;">
                </form>
            </nb-card-body>
        </nb-card>
        <nb-card>
            <nb-card-header>
                liste
                <input nbInput type="submit" value="Update" style="float: right;">
            </nb-card-header>
            <nb-card-body>
                <nb-checkbox class="mr-2">item
                </nb-checkbox>
            </nb-card-body>
        </nb-card>

    </div>
</div>