<nb-card accent="danger" *ngIf=" !(this.basvuru.basvuruForm?.gonulluPopilasyonComponent=== undefined || this.basvuru.basvuruForm?.gonulluPopilasyonComponent=== null  ) ? true : false  ">
    <nb-card-header>ARAŞTIRMADAKİ GÖNÜLLÜ POPÜLASYONU!</nb-card-header>
    <nb-card-body>


                    <!--  saglikliGonulluler-->
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="row show-grid">
                                <div class="col-md-3">
                                    <div><code> saglikli Gonulluler</code></div>
                                </div>
                                <div class="col-md-9">
                                    <div>{{this.basvuru.basvuruForm?.gonulluPopilasyonComponent?.saglikliGonulluler}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  saglikliGonulluler-->



                              <!--  Hastalar-->
                              <div class="row">
                                <div class="col-sm-12">
        
                                    <div class="row show-grid">
                                        <div class="col-md-3">
                                            <div><code> Hastalar</code></div>
                                        </div>
                                        <div class="col-md-9">
                                            <div>{{this.basvuru.basvuruForm?.gonulluPopilasyonComponent?.Hastalar}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                            <!--  Hastalar-->
    

                    <!--  OzelHassasPopilasyonlar-->
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="row show-grid">
                                <div class="col-md-3">
                                    <div><code> OzelHassasPopilasyonlar</code></div>
                                </div>
                                <div class="col-md-9">
                                    <div>{{this.basvuru.basvuruForm?.gonulluPopilasyonComponent?.OzelHassasPopilasyonlar}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  OzelHassasPopilasyonlar-->

                    <!--  GebeKadinlar-->
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="row show-grid">
                                <div class="col-md-3">
                                    <div><code> GebeKadinlar</code></div>
                                </div>
                                <div class="col-md-9">
                                    <div>{{this.basvuru.basvuruForm?.gonulluPopilasyonComponent?.GebeKadinlar}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  GebeKadinlar-->



                
                    <!--  EmzirenKadinlar-->
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="row show-grid">
                                <div class="col-md-3">
                                    <div><code> EmzirenKadinlar</code></div>
                                </div>
                                <div class="col-md-9">
                                    <div>{{this.basvuru.basvuruForm?.gonulluPopilasyonComponent?.EmzirenKadinlar}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  EmzirenKadinlar-->


                    
                    <!--  AcilOlgular-->
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="row show-grid">
                                <div class="col-md-3">
                                    <div><code> AcilOlgular</code></div>
                                </div>
                                <div class="col-md-9">
                                    <div>{{this.basvuru.basvuruForm?.gonulluPopilasyonComponent?.AcilOlgular}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--  AcilOlgular-->


                        <!--  SahsenOlurVeremiyecekler-->
                        <div class="row">
                            <div class="col-sm-12">
    
                                <div class="row show-grid">
                                    <div class="col-md-3">
                                        <div><code> SahsenOlurVeremiyecekler</code></div>
                                    </div>
                                    <div class="col-md-9">
                                        <div>{{this.basvuru.basvuruForm?.gonulluPopilasyonComponent?.SahsenOlurVeremiyecekler}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!--  SahsenOlurVeremiyecekler-->


                    

                        <!--  Aciklama-->
                        <div class="row">
                            <div class="col-sm-12">
    
                                <div class="row show-grid">
                                    <div class="col-md-3">
                                        <div><code> Aciklama</code></div>
                                    </div>
                                    <div class="col-md-9">
                                        <div>{{this.basvuru.basvuruForm?.gonulluPopilasyonComponent?.Aciklama}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <!--  Aciklama-->


    </nb-card-body>
</nb-card>

 


      