<div *ngIf="loading">
    <mat-progress-bar color="warn"></mat-progress-bar>
  </div>

  <form
        [formGroup]="searchForm"
        #f="ngForm"
        (ngSubmit)="onFilter()"
        class="form">

    <div class="container padding-15">

      <div class="item-70 container">

        <div class="item-40">
          <mat-form-field class="full-width">
            <input
              matInput
              type="text"
              placeholder="Personel Filtrele"
              formControlName="name"
            />
          </mat-form-field>
        </div>

        <div class="item-25" style="margin-top: 10px;">

          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="!searchForm.valid"
            aria-label="search"
          >
            <mat-icon>search</mat-icon>
            <span>filtre</span>
          </button>

          <button
            mat-raised-button
            color="accent"
            type="button"
            (click)="onClear()"
            aria-label="clear"
            [disabled]="searchForm.valid || searchForm.value.name === ''"
          >
            <mat-icon>clear</mat-icon>
            <span>temizle</span>
          </button>
        </div>

      </div>


      <div class="item-30" style="margin-top: 10px;">
        <button
          mat-raised-button
          color="primary"
          type="button"
          routerLink="/persons/add"
          aria-label="add"
        >
          <mat-icon>add</mat-icon>
          <span> ekle </span>
        </button>


      </div>

    </div>

  </form>

  <div *ngIf="data.length === 0" class="container">
    <div class="item">
      <h1 class="mat-h1">icerik yok</h1>
    </div>
  </div>

  <div [hidden]="data.length === 0" class="table mat-elevation-z8">
    <div class="loading-shade" *ngIf="loading"></div>

    <div class="table-container">

      <table mat-table [dataSource]="data" class="table"
            matSort matSortActive="name" matSortDisableClear matSortDirection="asc">

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Id
          </th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            İsim
          </th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <!-- surname Column -->
        <ng-container matColumnDef="surname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Sosyİsim
          </th>
          <td mat-cell *matCellDef="let row">{{row.surname}}</td>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Email
          </th>
          <td mat-cell *matCellDef="let row">{{row.email}}</td>
        </ng-container>

        <!-- title Column -->
        <ng-container matColumnDef="title"  >
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Unvan
          </th>
          <td mat-cell *matCellDef="let row">{{row.title}}</td>
        </ng-container>
        <!-- phone Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            phone
          </th>
          <td mat-cell *matCellDef="let row">{{row.phone}}</td>
        </ng-container>

        <!-- unit Column -->
        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
            Birim
          </th>
          <td mat-cell *matCellDef="let row">{{row.unit}}</td>
        </ng-container>

           <!-- edulink Column -->
           <ng-container matColumnDef="edulink">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
              Eğitimler
            </th>
            <td mat-cell *matCellDef="let row">
              <a mat-button color="accent" [routerLink]="['/persons','personeducations', row.id]">
                <mat-icon>format_shapes</mat-icon>
              </a>
            </td>
          </ng-container>

        <!-- edit Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>
            düzenle
          </th>
          <td mat-cell *matCellDef="let row">
            <a mat-button color="accent" [routerLink]="['/persons', 'edit', row.id]">
              <mat-icon>edit</mat-icon>
            </a>
          </td>
        </ng-container>

        <!-- delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>
            Kaldır
          </th>
          <td mat-cell *matCellDef="let row">
            <a mat-button (click)="onDelete(row)" color="warn"><mat-icon>delete_forever</mat-icon></a>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="20"></mat-paginator>
  </div>