<div id="timeline">
  <div *ngFor="let item of list; let i = index" class="timeline-item">
    <div [class]="item.styleClass? item.styleClass: ''">
      <div class="timeline-icon">
        <span class="item-icon {{item?.icon}}"></span>
      </div>
      <!--  <div class="timeline-content" [class.right]="i % 2 !== 0">
        <h2>{{item?.title}}</h2>
        <p>
          {{item?.content}}
        </p> -->
      <!--    <button class="btn bg-purple" (click)="action(item)">
          <i class="fa fa-search-plus"></i> {{item?.label}}
        </button> -->


      <nb-card class="timeline-content" [class.right]="i % 2 !== 0">
        <nb-card-header>
          <h2>{{item?.title}}</h2>
        </nb-card-header>
        <nb-card-body>
          <p>
            {{item?.content}}

          </p>

          <br>

          <nb-card-footer>
            <button class="btn bg-purple">
              <i class="fa fa-search-plus"></i> {{item?.label}}
            </button>
          </nb-card-footer>

        </nb-card-body>
      </nb-card>


      <!-- </div> -->
    </div>
  </div>
</div>