[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn

[dn]
C = tr
ST = Samsun
L = merk
O = IT
OU = IT Department
emailAddress = muratonurkaradeniz@gmail.com
CN = 10.55.25.197

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.10.55.25.197
DNS.2 = 10.55.25.197
