 


  <div class="row"  >
    <div class="col-12 col-md-6">
      <ngx-call-action-card title="Eğitim Listesi"
                            icon="airline_seat_individual_suite"
                            type="pantone"
                            link="/educations"
                            linkTitle="Görüntüle">
      </ngx-call-action-card>
    </div>

    <div class="col-12 col-md-6">
      <ngx-call-action-card title="Yeni Egitim Ekle"
                            icon="create_new_folder"
                            
                            link="/educations/add"
                            linkTitle="Görüntüle">
      </ngx-call-action-card>
    </div>

 
  </div>

  <div class="row"  >
    <div class="col-12 col-md-6">
      <ngx-call-action-card title="kisi Sorgu"
                            icon="brightness_5"
                            
                            link="/persons"
                            linkTitle="Görüntüle">
      </ngx-call-action-card>
    </div>
    <div class="col-12 col-md-6">
      <ngx-call-action-card title="Kisi Listele"
                             icon="attach_file"
                           
                            link="/persons"
                            linkTitle="Görüntüle">
      </ngx-call-action-card>
    </div>
  </div>

  <div class="row"  >
    <div class="col-12 col-md-6">
      <ngx-call-action-card title="Kişi Ekle"
                             icon="wc"
                            type="pantone"
                            link="/persons/add"
                            linkTitle="Görüntüle">
      </ngx-call-action-card>
    </div>

 
  </div>


 