 
 

<div class="row">
    <div class="col-12 col-md-2">
        <app-stats-badge title="Toplam Başvuru"   icon="{{this.countStats.toplamBasvuruSayisi}}" >
            
         </app-stats-badge>
      </div>
      <div class="col-12 col-md-3">
         <app-stats-badge title="Yeni Başvuru"   icon="{{this.countStats.yeniBasvuruSayisi}}" >
             
          </app-stats-badge>
       </div>
       <div class="col-12 col-md-3">
         <app-stats-badge title="Rededilen Başvuru"   icon="{{this.countStats.rededilenBasvuruSayisi}}" >
             
          </app-stats-badge>
       </div>
       <div class="col-12 col-md-3">
         <app-stats-badge title="Kabul Edilen Başvuru"   icon="{{this.countStats.kabuledilenBasvuruSayisi}}" >
             
          </app-stats-badge>
       </div>
       <div class="col-12 col-md-3">
         <app-stats-badge title="Ön incelemde Başvuru"   icon="{{this.countStats.onIncelemeAtamaBasvuruSayisi}}" >
             
          </app-stats-badge>
       </div>
  
       <div class="col-12 col-md-3">
         <app-stats-badge title="Düzeltme Başvuru"   icon="{{this.countStats.duzeltmeAtamaBasvuruSayisi}}" >
             
          </app-stats-badge>
       </div>
  
  

 
</div>
