<nb-card accent="danger">
    <nb-card-header>C. ARAŞTIRMA KAPSAMI</nb-card-header>
    <nb-card-body>
        <form [formGroup]="aform" #f="ngForm" class="form">
            <!-- amac -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Amaç/Kapsam: </mat-label>
                        <input matInput required type="text" placeholder="Amaç/Kapsam: " formControlName="amac" />
                    </mat-form-field>
                </div>
            </div>
            <!-- amac -->

            <!-- genelBilgi -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Genel bilgiler:</mat-label>
                        <input matInput required type="text" placeholder="Genel bilgiler:"
                            formControlName="genelBilgi" />
                    </mat-form-field>
                </div>
            </div>
            <!-- genelBilgi -->
            <!-- arastirmaTuru -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Araştırmanın türü:
                        </mat-label>
                        <input matInput required type="text" placeholder="Araştırmanın türü:
                        " formControlName="arastirmaTuru" />
                    </mat-form-field>
                </div>
            </div>
            <!-- arastirmaTuru -->
            <!-- arYapilacagiYer -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Araştırmanın yapılacağı yer / yerler: </mat-label>
                        <input matInput required type="text" placeholder="Araştırmanın yapılacağı yer / yerler: "
                            formControlName="arYapilacagiYer" />
                        <mat-hint> (Araştırmaya dahil edilecek popülasyonun; kimlerden oluştuğu, yaş aralıkları,
                            cinsiyet ve
                            sayısı gibi tanımlayıcı özellikleri yazılacaktır).</mat-hint>
                    </mat-form-field>

                </div>
            </div>
            <!-- arYapilacagiYer -->
            <!-- arEvrenOrneklem -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Araştırmanın Evreni / Örneklemi </mat-label>
                        <input matInput required type="text" placeholder="Araştırmanın Evreni / Örneklemi "
                            formControlName="arEvrenOrneklem" />
                    </mat-form-field>
                </div>
            </div>
            <!-- arEvrenOrneklem -->

            <!-- hipotez -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Hipotez(ler):</mat-label>
                        <input matInput required type="text" placeholder="Hipotez(ler)" formControlName="hipotez" />
                    </mat-form-field>
                </div>
            </div>
            <!-- hipotez -->
            <!-- veriToplamaYontemi -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Veri toplama yöntemi:</mat-label>
                        <input matInput required type="text" placeholder="Veri toplama yöntemi:"
                            formControlName="veriToplamaYontemi" />
                        <mat-hint> (Verilerin kimler tarafından, hangi yöntemlerle (ölçek, anket, numune alma, kayıtlı
                            bilgilerden
                            yararlanma vb.), nerede ve nasıl elde edilmesinin planlandığına ilişkin bilgiler
                            yazılmalıdır.)</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <!-- veriToplamaYontemi -->
            <!-- arastirmaKisitlari -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Araştırmanın kısıtlılıkları (Sınırlılıkları):
                        </mat-label>
                        <input matInput required type="text" placeholder="Araştırmanın kısıtlılıkları (Sınırlılıkları):
                        " formControlName="arastirmaKisitlari" />
                    </mat-form-field>
                </div>
            </div>
            <!-- arastirmaKisitlari -->

            <!-- arastirmaTarihAraligi -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Araştırmanın yapılacağı tarih aralığı:
                        </mat-label>
                        <input matInput required type="text" placeholder="Araştırmanın yapılacağı tarih aralığı:
                        " formControlName="arastirmaTarihAraligi" />
                    </mat-form-field>
                </div>
            </div>
            <!-- arastirmaTarihAraligi -->
            <!-- invazivmi -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Araştırmada invaziv girişim yapılacak mı?
                        </mat-label>
                        <!--           <input matInput required type="text" placeholder="Araştırmanın yapılacağı tarih aralığı:
                        " formControlName="invazivmi" />  -->
                        <select matNativeControl formControlName="invazivmi">

                            <option value="Evet">Evet</option>
                            <option value="Hayır">Hayır</option>

                        </select>


                    </mat-form-field>
                </div>
            </div>
            <!-- invazivmi -->
            <!-- invazAcikla -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Yanıtınız evet ise, yapılacak olan invaziv girişim hakkında bilgi veriniz?
                        </mat-label>
                        <!--      <input matInput required type="text"
                            placeholder="Yanıtınız evet ise, yapılacak olan invaziv girişim hakkında bilgi veriniz?"
                            formControlName="invazAcikla" /> -->
                        <textarea matInput formControlName="invazAcikla"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <!-- invazAcikla -->
            <!-- tibbiDurumVarmi -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Araştırmada tıbbi bir durum veya hastalık araştırılacak mı?
                        </mat-label>
                        <!--   <input matInput required type="text" placeholder="Araştırmada tıbbi bir durum veya hastalık araştırılacak mı?
                        " formControlName="tibbiDurumVarmi" /> -->
                        <select matNativeControl formControlName="tibbiDurumVarmi">

                            <option value="Evet">Evet</option>
                            <option value="Hayır">Hayır</option>

                        </select>

                    </mat-form-field>
                </div>
            </div>
            <!-- tibbiDurumVarmi -->

            <!-- tibbiDurumAcikla -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Yanıtınız evet ise, araştırılan tıbbi durum/durumlar veya hastalık/hastalıklar
                            hakkında kısa bilgi veriniz.</mat-label>
                        <!--    <input matInput required type="text"
                            placeholder="Yanıtınız evet ise, araştırılan tıbbi durum/durumlar veya hastalık/hastalıklar hakkında kısa bilgi veriniz."
                            formControlName="tibbiDurumAcikla" /> -->
                        <textarea matInput formControlName="tibbiDurumAcikla"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <!-- tibbiDurumAcikla -->
            <!-- arastirmaRuhsalSoru -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Araştırma katılımcıların fiziksel ve ruhsal sağlıklarını herhangi bir şekilde
                            sıkıntıya sokacak sorular içeriyor mu?</mat-label>
                        <!--       <input matInput required type="text"
                            placeholder="Araştırma katılımcıların fiziksel ve ruhsal sağlıklarını herhangi bir şekilde sıkıntıya sokacak sorular içeriyor mu?"
                            formControlName="arastirmaRuhsalSoru" /> -->
                        <select matNativeControl formControlName="arastirmaRuhsalSoru">

                            <option value="Evet">Evet</option>
                            <option value="Hayır">Hayır</option>

                        </select>
                    </mat-form-field>
                </div>
            </div>
            <!-- arastirmaRuhsalSoru -->
            <!-- arastirmaRuhsalSoruAcikla -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Yanıtınız evet ise, lütfen açıklayınız.
                        </mat-label>
                        <!--    <input matInput required type="text" placeholder="Yanıtınız evet ise, lütfen açıklayınız. 
                        " formControlName="arastirmaRuhsalSoruAcikla" /> -->
                        <textarea matInput formControlName="arastirmaRuhsalSoruAcikla"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <!-- arastirmaRuhsalSoruAcikla -->
            <!-- gonulluKatilimSoru -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Gönüllü katılımını olumsuz yönde etkileyecek herhangi bir durum var mı?</mat-label>
                        <!--   <input matInput required type="text"
                            placeholder="Gönüllü katılımını olumsuz yönde etkileyecek herhangi bir durum var mı?"
                            formControlName="gonulluKatilimSoru" /> -->
                        <select matNativeControl formControlName="arastirmaRuhsalSoru">

                            <option value="Evet">Evet</option>
                            <option value="Hayır">Hayır</option>

                        </select>
                    </mat-form-field>
                </div>
            </div>
            <!-- gonulluKatilimSoru -->
            <!-- gonulluKatilimSoruAcikla -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Yanıtınız evet ise, lütfen açıklayınız.
                        </mat-label>
                        <!--     <input matInput required type="text" placeholder="Yanıtınız evet ise, lütfen açıklayınız."
                            formControlName="gonulluKatilimSoruAcikla" /> -->
                        <textarea matInput formControlName="gonulluKatilimSoruAcikla"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <!-- gonulluKatilimSoruAcikla -->
            <!-- bireyselYarar -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Araştırmanın bireysel yararı: </mat-label>
                        <!--              <input matInput required type="text" placeholder="Araştırmanın bireysel  yararı:  "
                            formControlName="bireyselYarar" /> -->
                        <textarea matInput formControlName="bireyselYarar"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <!-- bireyselYarar -->
            <!-- kurumsalYarar -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Araştırmanın kurumsal yararı: (Araştırmanın yapıldığı kuruma yararı)
                        </mat-label>
                        <!--     <input matInput required type="text" placeholder="Araştırmanın kurumsal yararı: (Araştırmanın yapıldığı kuruma yararı)
                        " formControlName="kurumsalYarar" /> -->
                        <textarea matInput formControlName="kurumsalYarar"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <!-- kurumsalYarar -->
            <!-- toplumsalYarar -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Araştırmanın toplumsal yararı:(Lütfen açıklayınız )</mat-label>
                        <!--   <input matInput required type="text"
                            placeholder="Araştırmanın toplumsal yararı:(Lütfen açıklayınız )"
                            formControlName="toplumsalYarar" /> -->
                        <textarea matInput formControlName="toplumsalYarar"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <!-- toplumsalYarar -->
            <!-- bilimselYarar -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Araştırmanın bilimsel yararı: (Lütfen açıklayınız )</mat-label>
                        <!--         <input matInput required type="text"
                            placeholder="Araştırmanın bilimsel yararı: (Lütfen açıklayınız )"
                            formControlName="bilimselYarar" /> -->
                        <textarea matInput formControlName="bilimselYarar"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <!-- bilimselYarar -->
            <!-- destekleyicisiVarmi -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Araştırmanın destekleyicisi var mı?</mat-label>
                        <!--   <input matInput required type="text" placeholder="Araştırmanın destekleyicisi var mı?"
                            formControlName="destekleyicisiVarmi" /> -->
                        <select matNativeControl formControlName="destekleyicisiVarmi">

                            <option value="Evet">Evet</option>
                            <option value="Hayır">Hayır</option>

                        </select>
                    </mat-form-field>
                </div>
            </div>
            <!-- destekleyicisiVarmi -->
            <!-- destekleyicisiAcikla -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Yanıtınız evet ise lütfen destekleyici kişi / kurum / kuruluşları belirtiniz.
                        </mat-label>
                        <!--    <input matInput required type="text"
                            placeholder="Yanıtınız evet ise lütfen destekleyici kişi / kurum / kuruluşları belirtiniz."
                            formControlName="destekleyicisiAcikla" /> -->
                        <textarea matInput formControlName="destekleyicisiAcikla"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <!-- destekleyicisiAcikla -->
            <!-- bizdenTalepVarmi -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Araştırma kapsamında Genel Müdürlüğümüzden talebiniz var mı? </mat-label>
                        <!--     <input matInput required type="text"
                            placeholder="Araştırma kapsamında Genel Müdürlüğümüzden talebiniz var mı? "
                            formControlName="bizdenTalepVarmi" /> -->
                        <select matNativeControl formControlName="bizdenTalepVarmi">

                            <option value="Evet">Evet</option>
                            <option value="Hayır">Hayır</option>

                        </select>
                        <mat-hint>(Bu alanda, araştırma kapsamında personel desteği, ASM / TSM binalarını kullanma
                            isteği, hasta dosyası veya bilgisi talebi, araç veya ekipman desteği, ASM’ lerde gelen
                            hastalara anket uygulama ve duyuru-reklam gibi medya desteği vb. talep edilip edilmediği
                            belirtilecektir). </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <br>
            <!-- bizdenTalepVarmi -->
            <!-- bizdenTalepAcikla -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>Yanıtınız evet ise lütfen talebinizi ayrıntılı olarak belirtiniz.</mat-label>
                        <!--   <input matInput required type="text"
                            placeholder="Yanıtınız evet ise lütfen talebinizi ayrıntılı olarak belirtiniz."
                            formControlName="bizdenTalepAcikla" /> -->
                        <textarea matInput formControlName="bizdenTalepAcikla"></textarea>
                    </mat-form-field>
                    <!--  <mat-label>Yanıtınız evet ise lütfen talebinizi ayrıntılı olarak belirtiniz.</mat-label>
                    <p-editor formControlName="bizdenTalepAcikla" [style]="{'height':'100px'}">
                        Yanıtınız evet ise lütfen talebinizi ayrıntılı olarak belirtiniz.
                    </p-editor> -->
                </div>
            </div>
            <!-- bizdenTalepAcikla -->

        </form>

    </nb-card-body>
</nb-card>