.full-width{
    width: 100%;
  }

  .mat-icon {
    cursor: pointer;
  }

  .header-logo {
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 40%;
  }

  .card {
    max-width: 400px;
  }