<div *ngIf="loading">
    <mat-progress-bar color="warn"></mat-progress-bar>
  </div>
  <div class="row" *ngIf="!loading">
  
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
               Personel Bilgileri
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-4">
  
                        <h6>İsim:</h6>
  
                    </div>
                    <div class="col-md-8">
                        {{person.name}}
                    </div>
                </div>
                <mat-divider></mat-divider>
  
                <div class="row">
                    <div class="col-md-4">
                        <h6>Soyİsim:</h6>
                    </div>
                    <div class="col-md-8">
                        {{person.surname}}
                    </div>
                </div>
                <mat-divider></mat-divider>
  
                <div class="row">
                    <div class="col-md-4">
                        <h6>Mail Adresi </h6>
                    </div>
                    <div class="col-md-8">
                        {{person.email}}
                    </div>
                </div>
                <mat-divider></mat-divider>
  
  
                <div class="row">
                    <div class="col-md-4">
                        <h6>title</h6>
                    </div>
                    <div class="col-md-8">
                        {{person.title }}
                    </div>
                </div>
                <mat-divider></mat-divider>
  
                <div class="row">
                    <div class="col-md-4">
                        <h6>telefon</h6>
                    </div>
                    <div class="col-md-8">
                        {{person.phone  }}
                    </div>
                </div>
                <mat-divider></mat-divider>
  
                <div class="row">
                    <div class="col-md-4">
                        <h6>Birimi</h6>
                    </div>
                    <div class="col-md-8">
                        {{person.unit  }}
                    </div>
                </div>
                <mat-divider></mat-divider>
            </nb-card-body>
        </nb-card>
    </div>
  </div>
  

  <div class="row" *ngIf="!loading">

    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Eğitim Programı
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-4">

                        <h6>Konusu:</h6>

                    </div>
                    <div class="col-md-8">
                        {{education.subject}}
                    </div>
                </div>
                <mat-divider></mat-divider>

                <div class="row">
                    <div class="col-md-4">
                        <h6>Başkanlık:</h6>
                    </div>
                    <div class="col-md-8">
                        {{education.management}}
                    </div>
                </div>
                <mat-divider></mat-divider>

              <!--   <div class="row">
                    <div class="col-md-4">
                        <h6>Eğitim Tarihi</h6>
                    </div>
                    <div class="col-md-8">
                        {{education.educationDate |date:"dd:MM:yyyy"}}
                    </div>
                </div>
                <mat-divider></mat-divider> -->


                <div class="row">
                    <div class="col-md-4">
                        <h6>Eğitim Süresi(saat)</h6>
                    </div>
                    <div class="col-md-8">
                        {{education.educationTime  }}
                    </div>
                </div>
                <mat-divider></mat-divider>

                <div class="row">
                    <div class="col-md-4">
                        <h6>Yenilenme süresi Yil:</h6>
                    </div>
                    <div class="col-md-8">
                        {{education.renewalPeriod  }}
                    </div>
                </div>
                <mat-divider></mat-divider>

                <div class="row">
                    <div class="col-md-4">
                        <h6>Allması Gereken Ünvanlar:</h6>
                    </div>
                    <div class="col-md-8">
                        {{education.titles  }}
                    </div>
                </div>
                <mat-divider></mat-divider>
            </nb-card-body>
        </nb-card>
    </div>
</div>





<nb-card accent="primary" status="info">
    <nb-card-header>Personel Eğitim Düzenle</nb-card-header>
    <nb-card-body>
      <form [formGroup]="editForm" #f="ngForm"   class="form">
            <!-- check -->
        <div class="row">
            <div class="col-sm-12">
           <div class="border">
              <mat-label>Yapıldı</mat-label>
  
              <mat-radio-group   class="radio-group"  aria-label="Arşivlendi" formControlName="check">
                <mat-radio-button class="radio-button" [value]=true>Evet</mat-radio-button>
                <mat-radio-button class="radio-button" [value]=false>Hayır</mat-radio-button>
              </mat-radio-group>
            </div>
            </div>
          </div>
            <!-- check -->



                    <!--  eğitim Tarihi -->
        <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Eğitim Tarihi</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Eğitim Tarihi"  
                  formControlName="educationDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <!-- eğitim Tarihi  -->


                         <!--  Yenilenme Tarihi -->
        <div class="row">
            <div class="col-sm-12">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Yenilenme Tarihi</mat-label>
                <input matInput [matDatepicker]="picker1" placeholder="Yenilenme Tarihi"  
                  formControlName="renewalDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <!-- Yenilenme Tarihi  -->
     
         <!-- arşiv -->
        <div class="row">
          <div class="col-sm-12">
         <div class="border">
            <mat-label>Arşivlendi</mat-label>

            <mat-radio-group   class="radio-group"  aria-label="Arşivlendi" formControlName="isArchived">
              <mat-radio-button class="radio-button" [value]=true>Evet</mat-radio-button>
              <mat-radio-button class="radio-button" [value]=false>Hayır</mat-radio-button>
            </mat-radio-group>
          </div>
          </div>
        </div>
          <!-- arşiv -->
          <div class="row">
            <button type="submit" nbButton status="primary" [disabled]="!editForm.valid"
            (click)="onEdit()">Düzenle</button>
          </div>
  
      </form>
  
    </nb-card-body>
  </nb-card>
 

  <div class="row"> {{this.editForm.value| json}}</div>