<nb-card accent="danger">
    <nb-card-header style="text-align: center;">
        T.C. <br>
        SAĞLIK BAKANLIĞI <br>
        Araştırma Taleplerini Değerlendirme Komisyonu <br>
        BAŞVURU FORMU</nb-card-header>
    <nb-card-body>
        <p> (Covid-19 İle İlgili Çalışmalar İçin) Araştırma Çalışmaları Kurum İzni
            Başvuru Formları </p>

        <!--      <p class="western" style="margin-left: -1cm; text-indent: 1.27cm; margin-bottom: 0cm; line-height: 100%;"
            align="center"><strong>BAŞVURU FORMUNUN DOLDURULMASI ESNASINDA </strong></p>
        <p class="western" style="margin-left: -1cm; text-indent: 1.27cm; margin-bottom: 0cm; line-height: 100%;"
            align="center"><strong>DİKKAT EDİLECEK HUSUSLAR</strong></p>
        <p class="western" style="margin-bottom: 0cm; line-height: 100%;" align="justify">&nbsp;</p>
        <ol>
            <ol>
                <li><span lang="tr-TR">Bu formun, &uuml;niversiteler, diğer &ouml;zel ve/veya kamu kuruluşları veya
                        şahıslar tarafından; birinci basamak sağlık hizmetleri alanında, toplumun herhangi bir kesimini,
                        hasta ve/veya &ccedil;alışanları kapsayacak şekilde yapılması planlanan &ouml;dev, tez
                        &ccedil;alışması, anket uygulaması, proje, bilgi talebi, sağlık taraması ve halkı
                        bilin&ccedil;lendirme gibi konularda yapılmak istenen &ccedil;alışmaların değerlendirilebilmesi
                        i&ccedil;in aşağıda yer alan kriterlere g&ouml;re doldurulması zorunludur.</span></li>
            </ol>
        </ol>
        <p class="western" style="margin-left: 0.75cm; margin-right: 0.25cm; margin-bottom: 0cm; line-height: 100%;"
            align="justify">&nbsp;</p>
        <ol start="2">
            <ol start="2">
                <li><span lang="tr-TR">Başvuru Formu doldurulduktan sonra iki n&uuml;sha &ccedil;ıktısı alınarak bir
                        n&uuml;shası değerlendirilmek &uuml;zere, araştırmanın yapılacağı ilin, &ccedil;ok merkezli
                        araştırmalarda ise her bir ilin il sağlık m&uuml;d&uuml;rl&uuml;ğ&uuml;ne iletilecek ve
                        m&uuml;d&uuml;rl&uuml;ğ&uuml;n &ouml;n değerlendirmesi sonucunda komisyonca
                        g&ouml;r&uuml;ş&uuml;lmek &uuml;zere Genel M&uuml;d&uuml;rl&uuml;ğ&uuml;m&uuml;ze
                        g&ouml;nderilecektir. Doğrudan Genel M&uuml;d&uuml;rl&uuml;ğ&uuml;m&uuml;ze g&ouml;nderilen
                        talepler değerlendirilmeyecektir. </span></li>
            </ol>
        </ol>
        <p style="margin-left: 0.75cm; margin-right: 0.25cm; margin-bottom: 0cm; line-height: 100%;" align="justify">
            &nbsp;</p>
        <ol start="3">
            <ol start="3">
                <li>Başvurunun yapılmış olması, araştırmaya başlamak i&ccedil;in yeterli değildir. Araştırmaya
                    başlayabilmek i&ccedil;in ilgili başvurunun komisyon tarafından onaylanması gerekmektedir.</li>
            </ol>
        </ol>
        <p class="western" style="margin-left: 0.75cm; margin-right: 0.25cm; margin-bottom: 0cm; line-height: 100%;"
            align="justify">&nbsp;</p>
        <ol start="4">
            <ol start="4">
                <li>Araştırmaya onay verilmesi durumunda verilen onay sadece ilgili talep i&ccedil;in ge&ccedil;erlidir.
                    Bu sebeple araştırmada elde edilen veriler başka bir &ccedil;alışma i&ccedil;in kullanılamaz,
                    kullanılmak istenmesi durumunda tekrar izin onayı i&ccedil;in başvuru yapılması gerekmektedir.</li>
            </ol>
        </ol>
        <p class="western" style="margin-left: 0.75cm; margin-right: 0.25cm; margin-bottom: 0cm; line-height: 100%;"
            align="justify">&nbsp;</p>
        <ol start="5">
            <ol start="5">
                <li><span lang="tr-TR">Araştırma i&ccedil;in verilen onay, araştırmanın başka bir d&ouml;nemde
                        tekrarlanması i&ccedil;in ge&ccedil;erli değildir. Araştırmanın tekrarlanmak istenmesi
                        durumunda, izin onayı i&ccedil;in yeniden başvuru yapılması gerekmektedir.</span></li>
            </ol>
        </ol>
        <p style="margin-left: 0.75cm; margin-right: 0.25cm; margin-bottom: 0cm; line-height: 100%;" align="justify">
            &nbsp;</p>
        <ol start="6">
            <ol start="6">
                <li><span lang="tr-TR">Başvuru formunun elektronik ortamda doldurulması ve sorumlu araştırmacı yada
                        yardımcı araştırmacılar tarafından şahsen yada posta aracılığı ile il sağlık
                        m&uuml;d&uuml;rl&uuml;ğ&uuml;ne ulaştırılması gerekmektedir. Faks yada e-mail ile
                        g&ouml;nderilecek talepler dikkate alınmayacaktır.</span></li>
            </ol>
        </ol>
        <p style="margin-left: 0.75cm; margin-right: 0.25cm; margin-bottom: 0cm; line-height: 100%;" align="justify">
            &nbsp;</p>
        <ol start="7">
            <ol start="7">
                <li>Araştırmanın başlığı ile i&ccedil;eriği uyumlu olmalıdır. T&uuml;rk&ccedil;e karşılığı olduğu halde
                    yabancı kelime kullanılan başlıklardan ka&ccedil;ınılmalıdır.</li>
            </ol>
        </ol>
        <p style="margin-left: 0.75cm; margin-right: 0.25cm; margin-bottom: 0cm; line-height: 100%;" align="justify">
            &nbsp;</p>
        <ol start="8">
            <ol start="8">
                <li>Değerlendirilmiş ve hakkında d&uuml;zeltme &ouml;nerisi yapılmış araştırmalar i&ccedil;in
                    araştırmacılar d&uuml;zeltme raporu ve d&uuml;zeltilmiş başvuru formunu birlikte sunmalıdır.</li>
            </ol>
        </ol>
        <p style="margin-left: 0.75cm; margin-right: 0.25cm; margin-bottom: 0cm; line-height: 100%;" align="justify">
            &nbsp;</p>
        <ol start="9">
            <ol start="9">
                <li>Başvuru formunun ayrıntılı ve eksiksiz doldurulması ve ilgili belgelerin eklenmesi başvuru talebinin
                    değerlendirilmesinde b&uuml;y&uuml;k &ouml;nem arz etmektedir.</li>
            </ol>
        </ol>
        <p style="margin-left: 1.25cm; margin-bottom: 0cm; line-height: 100%;">&nbsp;</p>
        <ol start="10">
            <ol start="10">
                <li>Komisyon, her ayın ilk Perşembe g&uuml;n&uuml; toplanır.</li>
            </ol>
        </ol> -->




        <form [formGroup]="aform" #f="ngForm" class="form">
            <!-- baslik -->
            <div class="row">
                <div class="col-sm-12">

                    <mat-form-field class="full-width " appearance="outline">
                        <mat-label>baslik</mat-label>
                        <input matInput required type="text" placeholder="baslik" formControlName="baslik" />
                    </mat-form-field>
                </div>
            </div>
            <!-- baslik -->
            <div class="row">

                <button type="submit" nbButton status="primary" (click)="addArastirmacilarforms()">Arastirmaci
                    Ekle</button>
            </div>
            <br>
            <div formArrayName="arastirmacilarforms">





                <nb-tabset>
                    <nb-tab tabTitle="Arastirmaci {{i}}"
                        *ngFor="let arastirmacilar of arastirmacilarforms.controls; let i=index">
                        <app-arastirmacilar-form [index]="i" [aform]="arastirmacilar"></app-arastirmacilar-form>
                        <!--               <button nbButton status="danger" (click)="deleteIlness(i)"> Form {{ill.value.kknId}} sil</button> -->
                    </nb-tab>

                </nb-tabset>
            </div>

            <!--       <div formArrayName="arastirmacilarforms">

                <div *ngFor="let arastirmacilar of arastirmacilarforms.controls; let i=index">

 
                    <app-arastirmacilar-form [aform]="arastirmacilar"></app-arastirmacilar-form>

                </div>


            </div> -->


            <!--     <app-arastirmacilar-form></app-arastirmacilar-form> -->
            <app-arastirma-form></app-arastirma-form>
            <app-arastirma-kapsam-form></app-arastirma-kapsam-form>
            <app-arastirma-belgeler-form></app-arastirma-belgeler-form>


        </form>

    </nb-card-body>
</nb-card>

<div class="row"> {{this.aform.value| json}}</div>

<!-- <div class="row">
    <button type="submit" nbButton status="primary" (click)="arastirmaBelgelerFormComponent.dene()">dene</button>
</div> -->