<div class="container">
  <div class="loading">
    <mat-progress-bar value="indeterminate" *ngIf="loading" color="warn"></mat-progress-bar>
  </div>
</div>
<br />



<nb-card accent="primary" status="info">
  <nb-card-header>Educationel Düzenle</nb-card-header>
  <nb-card-body>
    <form [formGroup]="editForm" #f="ngForm" class="form">
      <div>
        <!-- Konu -->
        <div class="row">
          <div class="col-sm-12">

            <mat-form-field class="full-width " appearance="outline">
              <mat-label>subject</mat-label>
              <input matInput required type="text" placeholder="Konu" formControlName="subject" />
            </mat-form-field>
          </div>
        </div>
        <!-- Konu -->

        <!-- Başkanlık -->
        <div class="row">
          <div class="col-sm-12">

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Başkanlık</mat-label>
              <input matInput required type="text" placeholder="Başkanlık" formControlName="management" />
            </mat-form-field>
          </div>
        </div>
        <!-- Başkanlık -->

        <!-- yenileme süresi yıl  -->
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>yenileme süresi yıl </mat-label>
              <input matInput required type="text" type="number" placeholder="Yenileme süresi yıl "
                formControlName="renewalPeriod" />
            </mat-form-field>
          </div>
        </div>
        <!-- yenileme süresi yıl -->

        <!-- eğitim Şekli  -->
        <div class="row">
          <div class="col-sm-12">
      
            <mat-form-field class="full-width"  appearance="outline"  >
              <mat-label>Eğitim Şekli</mat-label>
              <select matNativeControl formControlName="educationType"      >
  
                <option value="YüzYüze">Yüz Yüze</option>
                <option value="Online">Online</option>
             
              </select>
            </mat-form-field>
          </div>
        </div>
        <!-- eğitim Şekli  -->

        <!-- eğitim Yeri  -->
        <div class="row">
          <div class="col-sm-12">
      <!--       <mat-form-field class="full-width" appearance="outline">
              <mat-label>Eğitim Yeri </mat-label>
              <input matInput required type="text" placeholder="Eğitim Yeri" formControlName="educationPlace" />
            </mat-form-field> -->

            <mat-form-field class="full-width"  appearance="outline"  >
              <mat-label>Eğitim Yeri </mat-label>
              <select matNativeControl formControlName="educationPlace"     >
  
                <option value="İl Planlayacak">İl Planlayacak</option>
                <option value="Online eğitim">Online eğitim</option>
                <option value="Diğer">Diğer</option>
               
              </select>
            </mat-form-field>
          </div>
        </div>
        <!-- eğitim Yeri  -->


        <!-- eğitim Süresi  saat -->
        <div class="row">
          <div class="col-sm-12">
            <!--     <mat-form-field class="full-width"  appearance="outline">
            <mat-label> eğitim Tarihi </mat-label>
            <input
              matInput
              required
              type="number"
              placeholder="eğitim Süresi  saat "
              formControlName="educationTime"
            />
          </mat-form-field>
 -->
 <mat-form-field class="full-width" appearance="outline">
  <mat-label>Eğitim Süresi(saat) </mat-label>
  <input matInput required type="number" placeholder="eğitim Süresi  saat " formControlName="educationTime" />
</mat-form-field>
          

          </div>
        </div>
        <!-- eğitim Süresi  saat -->

        <!--  eğitim Tarihi -->
<!--         <div class="row">
          <div class="col-sm-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Eğitim Tarihi</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Eğitim Tarihi"  
                formControlName="educationDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div> -->
        <!-- eğitim Tarihi  -->

        <!-- eğiticinin Adı soy adı -->
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label> Eğiticinin Adı soy adı </mat-label>
              <input matInput required type="text" placeholder="Eğiticinin Adı soy adı " formControlName="educator" />
            </mat-form-field>
          </div>
        </div>
        <!-- eğiticinin Adı soy adı -->

        <!-- Unvanlar -->
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field class="full-width"  appearance="outline"  >
              <mat-label>Ünvan</mat-label>
              <select matNativeControl formControlName="titles"   multiple  >
  
                <option value="ATT">ATT</option>
                <option value="Hekim">Hekim</option>
                <option value="Hemşire">Hemşire</option>
                <option value="Sağlık Memuru">Sağlık Memuru</option>
                <option value="Ebe">Ebe</option>
              </select>
            </mat-form-field>
 
          </div>
        </div>
        <!-- Unvanlar -->



        <!-- Eğitim Sorumlusu -->
        <div class="row">
          <div class="col-sm-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Eğitim Sorumlusu </mat-label>
              <input matInput required type="text" placeholder="Eğitim Sorumlusu " formControlName="educationOfficer" />
            </mat-form-field>
          </div>
        </div>
        <!-- Eğitim Sorumlusu -->


        <!-- Verilecek Belgeler  -->
        <div class="row">
          <div class="col-sm-12">
       
            <mat-form-field class="full-width"  appearance="outline"  >
              <mat-label>Verilecek Belgeler</mat-label>
              <select matNativeControl formControlName="certification"      >
  
                <option value="Katılım Sertifikası">Katılım Sertifikası</option>
                <option value="Sertifika">Sertifika</option>
             
              </select>
            </mat-form-field>
          </div>
        </div>
        <!-- Verilecek Belgeler  -->

      </div>
      <div class="row">
        <button type="submit" nbButton status="primary" [disabled]="!editForm.valid" (click)="onEdit()">Düzenle</button>
      </div>

    </form>

  </nb-card-body>
</nb-card>

<div class="row"> 
  <button   nbButton status="primary"   [routerLink]="['/educations', 'person', this.itemId]"
     >EducationPerson</button>
</div>

<div class="row"> 
  <button   nbButton status="primary"   (click)="listPerson()"
     >listPerson</button>
</div>
<div class="row"> {{this.editForm.value| json}}</div>