<nb-card accent="danger">
    <nb-card-header>Basvuru Ekle</nb-card-header>
    <nb-card-body>
      <form [formGroup]="form"   class="form">
      
     
        <!-- tarih -->
        <div class="col-sm-6">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Tarih</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="tarih" required formControlName="tarih">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
  
  
        </div>
        <!-- tarih -->
  
        
  
   
   
  
  
      
   
      
  
      </form>
  
    </nb-card-body>
  </nb-card>
  
  
  
  