<div class="loading">
    <mat-progress-bar value="indeterminate" *ngIf="uploading" color="warn"></mat-progress-bar>

</div>
<nb-card accent="danger">
    <nb-card-header>İLGİLİ BELGELER</nb-card-header>
    <nb-card-body>
        <p>Gerekli Tüm Belgeleri Secin Sonra Yükle Butonuna Basınız.</p>

        <form [formGroup]="aform" #f="ngForm" class="form">
            <div class="row">
                <div class=" col-8 col-sm-6  col-md-8 centerq">
                    <!-- ozGecmisBelgesi -->
                    <div class="row">


                        <mat-form-field class="full-width " appearance="outline">
                            <mat-label>ozGecmisBelgesi</mat-label>

                            <mat-file-input formControlName="ozGecmisBelgesi" placeholder="dosya yükle"
                                [accept]="'.pdf'">

                            </mat-file-input>
                            <mat-hint [hidden]="!uploadingozGecmisBelgesi">
                                {{this.aform_controls['ozGecmisBelgesi'].value + " Belgesi
                                Olarak Yüklendi"}}
                            </mat-hint>
                        </mat-form-field>

                    </div>
                    <!-- ozGecmisBelgesi -->

                </div>

                <div class=" col-4   col-sm-6 col-md-4   center">
                    <div class="row">
                        <button type="submit" [disabled]="uploadingozGecmisBelgesi" nbButton status="primary"
                            (click)="ozGecmisBelgesiYukle()">Yükle</button>
                    </div>
                </div>
            </div>


            <!-- etikKurulOnayBelgesi -->
            <div class="row">
                <div class=" col-8 col-sm-6  col-md-8 centerq">
                    <div class="row">
                        <div class="col-sm-12">

                            <mat-form-field class="full-width " appearance="outline">
                                <mat-label>etikKurulOnayBelgesi</mat-label>
                                <mat-file-input formControlName="etikKurulOnayBelgesi" placeholder="dosya yükle"
                                    [accept]="'.pdf'">

                                </mat-file-input>
                                <mat-hint [hidden]="!uploadingetikKurulOnayBelgesi">
                                    {{this.aform_controls['etikKurulOnayBelgesi'].value+ "
                                    Belgesi
                                    Olarak Yüklendi"}}
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class=" col-4   col-sm-6 col-md-4   center">
                    <div class="row">
                        <button type="submit" [disabled]="uploadingetikKurulOnayBelgesi" nbButton status="primary"
                            (click)="etikKurulOnayBelgesiYukle()">Yükle</button>
                    </div>
                </div>
            </div>


            <!-- etikKurulOnayBelgesi -->


            <!-- anketOlcekFormu -->

            <div class="row">
                <div class=" col-8 col-sm-6  col-md-8 centerq">
                    <div class="row">
                        <div class="col-sm-12">

                            <mat-form-field class="full-width " appearance="outline">
                                <mat-label>anketOlcekFormu</mat-label>
                                <mat-file-input formControlName="anketOlcekFormu" placeholder="dosya yükle"
                                    [accept]="'.pdf'">
                                </mat-file-input>
                                <mat-hint [hidden]="!uploadinganketOlcekFormu">
                                    {{this.aform_controls['anketOlcekFormu'].value+ "
                                    Belgesi
                                    Olarak Yüklendi"}}</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>

                </div>

                <div class=" col-4   col-sm-6 col-md-4   center">
                    <div class="row">
                        <button type="submit" [disabled]="uploadinganketOlcekFormu" nbButton status="primary"
                            (click)="anketOlcekFormuYukle()">Yükle</button>
                    </div>
                </div>
            </div>
            <!-- anketOlcekFormu -->
            <!-- uzmanlikvbTeziBelge -->
            <div class="row">
                <div class=" col-8 col-sm-6  col-md-8 centerq">
                    <div class="row">
                        <div class="col-sm-12">

                            <mat-form-field class="full-width " appearance="outline">
                                <mat-label>uzmanlikvbTeziBelge</mat-label>
                                <mat-file-input formControlName="uzmanlikvbTeziBelge" placeholder="dosya yükle"
                                    [accept]="'.pdf'">
                                </mat-file-input>
                                <mat-hint [hidden]="!uploadinguzmanlikvbTeziBelge">
                                    {{this.aform_controls['uzmanlikvbTeziBelge'].value+ "
                                    Belgesi
                                    Olarak Yüklendi"}}</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class=" col-4   col-sm-6 col-md-4   center">
                    <div class="row">
                        <button type="submit" [disabled]="uploadinguzmanlikvbTeziBelge" nbButton status="primary"
                            (click)="uzmanlikvbTeziBelgeYukle()">Yükle</button>
                    </div>
                </div>
            </div>
            <!-- uzmanlikvbTeziBelge -->
            <!-- ekBelge -->
            <div class="row">
                <div class=" col-8 col-sm-6  col-md-8 centerq">
                    <div class="row">
                        <div class="col-sm-12">

                            <mat-form-field class="full-width " appearance="outline">
                                <mat-label>ekBelge</mat-label>

                                <mat-file-input formControlName="ekBelge" placeholder="dosya yükle" [accept]="'.pdf'">
                                </mat-file-input>
                                <mat-hint [hidden]="!uploadingekBelge" [style]="{'text-color':'red'}">
                                    {{this.aform_controls['ekBelge'].value+
                                    " Belgesi Olarak Yüklendi"}}

                                </mat-hint>

                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class=" col-4   col-sm-6 col-md-4   center">
                    <div class="row">
                        <button type="submit" [disabled]="uploadingekBelge" nbButton status="primary"
                            (click)="ekBelgeYukle()">Yükle</button>
                    </div>
                </div>
            </div>
            <!-- ekBelge -->

        </form>

    </nb-card-body>
</nb-card>
<div class="row"> {{this.aform.value| json}}</div>