<div class="loading">
    <mat-progress-bar value="indeterminate" *ngIf="uploading" color="warn"></mat-progress-bar>

</div>
<nb-card accent="danger">
    <nb-card-header>İLGİLİ BELGELER</nb-card-header>
    <nb-card-body>
        <p>Gerekli Tüm Belgeleri Secin Sonra Yükle Butonuna Basınız.</p>

        <form [formGroup]="aform" #f="ngForm" class="form">
            <div class="row">
                <div class=" col-8 col-sm-6  col-md-8">
                    <!-- ozGecmisBelgesi -->
                    <div class="row">
                        <div class="col-sm-12">

                            <mat-form-field class="full-width " appearance="outline">
                                <mat-label>ozGecmisBelgesi</mat-label>

                                <mat-file-input formControlName="ozGecmisBelgesi" placeholder="dosya yükle"
                                    [accept]="'.pdf'">

                                </mat-file-input>
                                <mat-hint [hidden]="!uploading"> {{this.aform_controls['ozGecmisBelgesi'].value + "
                                    Belgesi
                                    Olarak Yüklendi"}}
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- ozGecmisBelgesi -->
                    <!-- etikKurulOnayBelgesi -->
                    <div class="row">
                        <div class="col-sm-12">

                            <mat-form-field class="full-width " appearance="outline">
                                <mat-label>etikKurulOnayBelgesi</mat-label>
                                <mat-file-input formControlName="etikKurulOnayBelgesi" placeholder="dosya yükle"
                                    [accept]="'.pdf'">

                                </mat-file-input>
                                <mat-hint [hidden]="!uploading"> {{this.aform_controls['etikKurulOnayBelgesi'].value+ "
                                    Belgesi
                                    Olarak Yüklendi"}}
                                </mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- etikKurulOnayBelgesi -->
                    <!-- anketOlcekFormu -->
                    <div class="row">
                        <div class="col-sm-12">

                            <mat-form-field class="full-width " appearance="outline">
                                <mat-label>anketOlcekFormu</mat-label>
                                <mat-file-input formControlName="anketOlcekFormu" placeholder="dosya yükle"
                                    [accept]="'.pdf'">
                                </mat-file-input>
                                <mat-hint [hidden]="!uploading"> {{this.aform_controls['anketOlcekFormu'].value+ "
                                    Belgesi
                                    Olarak Yüklendi"}}</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- anketOlcekFormu -->
                    <!-- uzmanlikvbTeziBelge -->
                    <div class="row">
                        <div class="col-sm-12">

                            <mat-form-field class="full-width " appearance="outline">
                                <mat-label>uzmanlikvbTeziBelge</mat-label>
                                <mat-file-input formControlName="uzmanlikvbTeziBelge" placeholder="dosya yükle"
                                    [accept]="'.pdf'">
                                </mat-file-input>
                                <mat-hint [hidden]="!uploading"> {{this.aform_controls['uzmanlikvbTeziBelge'].value+ "
                                    Belgesi
                                    Olarak Yüklendi"}}</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- uzmanlikvbTeziBelge -->
                    <!-- ekBelge -->
                    <div class="row">
                        <div class="col-sm-12">

                            <mat-form-field class="full-width " appearance="outline">
                                <mat-label>ekBelge</mat-label>

                                <mat-file-input formControlName="ekBelge" placeholder="dosya yükle" [accept]="'.pdf'">
                                </mat-file-input>
                                <mat-hint [hidden]="!uploading" [style]="{'text-color':'red'}">
                                    {{this.aform_controls['ekBelge'].value+
                                    " Belgesi Olarak Yüklendi"}}

                                </mat-hint>

                            </mat-form-field>
                        </div>
                    </div>
                    <!-- ekBelge -->
                </div>

                <div class=" col-4   col-sm-6 col-md-4   center">
                    <div class="row">
                        <button type="submit" [disabled]="uploading" nbButton status="primary"
                            (click)="Yukle()">Yükle</button>
                    </div>
                </div>
            </div>
        </form>

    </nb-card-body>
</nb-card>
<div class="row"> {{this.aform.value| json}}</div>